# Carregar dados

In [1]:
ANO = 2020

In [4]:
import pandas as pd

# # Mostrar mais colunas
pd.set_option("display.max_columns", 100)
pd.set_option('display.max_colwidth', 100)

# selecting the tab from xls
df = pd.read_excel(
    # f"./output/bronze/rais_{ANO}/RAIS_vinculos_layout2018e2019.xls", 
    f"./output/bronze/rais_{ANO}/RAIS_vinculos_layout2020.xls", 
    sheet_name = "municipio")

qnt_full = len(df)
print(f"""
Quantidade docs: {qnt_full}
""")

df.head(2)

Quantidade docs: 5664

                         Município
0  110001:Ro-Alta Floresta D Oeste
1              110002:Ro-Ariquemes

In [5]:
# separate each row by ":" in column "ID" and "NOME". Ignore if error
df[["id_uf_municipio", "NOME"]] = df["Município"].str.split(":", expand=True)
df.dropna(inplace=True)
df.tail(10)
# len(df)

                     Município id_uf_municipio               NOME
5648          522190:Go-Varjao          522190          Go-Varjao
5649      522200:Go-Vianopolis          522200      Go-Vianopolis
5650  522205:Go-Vicentinopolis          522205  Go-Vicentinopolis
5651    522208:Go-Wanderlandia          522208    Go-Wanderlandia
5652         522210:Go-Xambioa          522210         Go-Xambioa
5653        522220:Go-Vila Boa          522220        Go-Vila Boa
5654   522230:Go-Vila Propicio          522230   Go-Vila Propicio
5655        529999:Go-Ignorado          529999        Go-Ignorado
5656        530010:Df-Brasilia          530010        Df-Brasilia
5657        539999:Df-Ignorado          539999        Df-Ignorado

In [6]:
df[["sigla_uf", "sigla_municipio"]] = df["NOME"].str.split("-", expand=True)[[0, 1]]
df["sigla_uf"] = df["sigla_uf"].str.upper()
df.tail(10)

,Município,id_uf_municipio,NOME,sigla_uf,sigla_municipio
5648,522190:Go-Varjao,522190,Go-Varjao,GO,Varjao
5649,522200:Go-Vianopolis,522200,Go-Vianopolis,GO,Vianopolis
5650,522205:Go-Vicentinopolis,522205,Go-Vicentinopolis,GO,Vicentinopolis
5651,522208:Go-Wanderlandia,522208,Go-Wanderlandia,GO,Wanderlandia
5652,522210:Go-Xambioa,522210,Go-Xambioa,GO,Xambioa
5653,522220:Go-Vila Boa,522220,Go-Vila Boa,GO,Vila Boa
5654,522230:Go-Vila Propicio,522230,Go-Vila Propicio,GO,Vila Propicio
5655,529999:Go-Ignorado,529999,Go-Ignorado,GO,Ignorado
5656,530010:Df-Brasilia,530010,Df-Brasilia,DF,Brasilia
5657,539999:Df-Ignorado,539999,Df-Ignorado,DF,Ignorado

In [7]:
"Go-Varjao".split("-")

['Go', 'Varjao']

In [8]:
usecols = [ "id_uf_municipio", "sigla_uf",	"sigla_municipio"]

df_f = df[usecols]
    
df_f.head(2)

  id_uf_municipio sigla_uf        sigla_municipio
0          110001       RO  Alta Floresta D Oeste
1          110002       RO              Ariquemes

In [9]:
df_f["ano"] = ANO
df_f.head(2)

C:\Users\marce\AppData\Local\Temp\ipykernel_24256\3496888868.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_f["ano"] = ANO

  id_uf_municipio sigla_uf        sigla_municipio   ano
0          110001       RO  Alta Floresta D Oeste  2020
1          110002       RO              Ariquemes  2020

# Salvando arquivo

In [10]:
df_f.to_parquet(f"./output/silver/uf_municipio_{ANO}.parquet.gzip", index=False, compression="gzip")