# Carregar dados

In [4]:
ANO = 2017

In [5]:
import pandas as pd

# # Mostrar mais colunas
pd.set_option("display.max_columns", 100)
pd.set_option('display.max_colwidth', 100)

# pandas read txt and decode utf-8 and read until 1000 rows

IDS_PROFISSIONAIS_TI = ["212205", "212210", "212215", "212305", "212310", "212315", "212320", "212405", "212410", "212415", "212420", "317105", "317110", "317115", "317120", "317205", "317210"]
OUTROS_PROFISSIONAIS = [
    "241005", # Advogado
    "252105", # Administrador
    "252210", # Contador
    "411010", # Assistente Administrativo
    "411005", # Auxiliar de Escritorio, em Geral
]

def load_csv(path):
    dtype = {
      'CBO Ocupação 2002': 'string',
      'Motivo Desligamento': int
    }
    
    df = pd.read_csv(
        path, 
        encoding = "ISO-8859-1", 
        sep = ";", 
        decimal = ",", 
        dtype = dtype
        )

    qnt_total = len(df)

    df = df[df['CBO Ocupação 2002'].isin(IDS_PROFISSIONAIS_TI + OUTROS_PROFISSIONAIS)] 

    print(f"""
    Path: {path}
    Quantidade docs: {qnt_total}
    Quantidade docs filtrados: {len(df)}
    """)

    return df

# df_estados = load_csv(f"./output/bronze/rais_{ANO}/DF{ANO}.txt")

In [ ]:
ESTADOS = ["AC", "AL", "AM", "AP", "BA", "CE", "DF", "ES", "GO", "MA", "MG", "MS", "MT", "PA", "PB", "PE", "PI", "PR", "RJ", "RN", "RO", "RR", "RS", "SC", "SE", "SP", "TO"]

df_estados = [load_csv(f"./output/bronze/rais_{ANO}/{e}{ANO}.txt") for e in ESTADOS]
len(df_estados)

# Juntando

In [ ]:
df_tudo = pd.concat(df_estados)
df_tudo

,Bairros SP,Bairros Fortaleza,Bairros RJ,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 95 Classe,Distritos SP,Vínculo Ativo 31/12,Faixa Etária,Faixa Hora Contrat,Faixa Remun Dezem (SM),Faixa Remun Média (SM),Faixa Tempo Emprego,Escolaridade após 2005,Qtd Hora Contr,Idade,Ind CEI Vinculado,Ind Simples,Mês Admissão,Mês Desligamento,Mun Trab,Município,Nacionalidade,Natureza Jurídica,Ind Portador Defic,Qtd Dias Afastamento,Raça Cor,Regiões Adm DF,Vl Remun Dezembro Nom,Vl Remun Dezembro (SM),Vl Remun Média Nom,Vl Remun Média (SM),CNAE 2.0 Subclasse,Sexo Trabalhador,Tamanho Estabelecimento,Tempo Emprego,Tipo Admissão,Tipo Estab,Tipo Estab.1,Tipo Defic,Tipo Vínculo,IBGE Subsetor,Vl Rem Janeiro CC,Vl Rem Fevereiro CC,Vl Rem Março CC,Vl Rem Abril CC,Vl Rem Maio CC,Vl Rem Junho CC,Vl Rem Julho CC,Vl Rem Agosto CC,Vl Rem Setembro CC,Vl Rem Outubro CC,Vl Rem Novembro CC,Ano Chegada Brasil,Ind Trab Parcial,Ind Trab Intermitente
399,{ñ class},{ñ class},{ñ class},99,99,99,20,411005,84116,75116,{ñ class},0,5,6,0,5,3,2,44,34,0,0,1,8,120035,120035,10,1031,0,0,99,0,0.00,0.00,2986.47,3.18,8411600,1,10,6.7,1,1,CNPJ,0,30,24,903.08,862.04,830.84,1035.92,9.20,9.20,9.20,17499.90,0.00,0.00,0.00,0,0,0
470,{ñ class},{ñ class},{ñ class},99,99,99,12,411005,80129,74608,{ñ class},0,2,3,0,0,3,2,20,17,0,0,5,12,120040,120040,10,2054,0,0,2,0,0.00,0.00,440.10,0.46,8012900,1,6,6.5,1,1,CNPJ,0,55,19,0.00,0.00,0.00,0.00,440.10,440.11,440.11,440.11,440.11,440.11,0.00,0,0,0
594,{ñ class},{ñ class},{ñ class},99,99,99,11,411005,47121,52132,{ñ class},0,4,6,0,2,6,2,44,25,0,0,0,6,0,120020,10,2135,0,0,8,0,0.00,0.00,1011.96,1.08,4712100,1,4,56.5,0,1,CNPJ,0,10,16,1011.96,1011.96,1011.96,1011.96,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
605,{ñ class},{ñ class},{ñ class},99,99,99,21,411010,94910,91910,{ñ class},0,8,6,0,1,8,2,44,70,0,0,0,1,0,120040,10,3999,0,0,8,0,0.00,0.00,937.00,1.00,9491000,1,2,130.9,0,1,CNPJ,0,10,21,9.37,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
906,{ñ class},{ñ class},{ñ class},40,99,99,12,411010,42138,45225,{ñ class},0,6,6,0,4,4,2,44,48,0,0,0,5,120040,120040,10,2011,0,55,8,0,0.00,0.00,2758.76,2.93,4213800,1,8,23.9,0,1,CNPJ,0,97,15,3409.82,3409.82,3409.82,0.00,805.61,0.00,0.00,0.00,0.00,0.00,0.00,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
405642,{ñ class},{ñ class},{ñ class},99,99,99,0,411010,84248,75248,{ñ class},1,6,5,9,7,6,11,40,49,0,0,0,0,172100,172100,10,1082,0,0,99,0,6860.50,7.32,4878.72,5.20,8424800,2,9,55.4,0,1,CNPJ,0,30,24,4708.01,4021.78,4021.78,4021.78,4102.22,4762.72,6786.85,4102.22,4330.54,4330.54,6495.81,0,0,0
405657,{ñ class},{ñ class},{ñ class},99,99,99,0,411010,84248,75248,{ñ class},1,5,5,12,10,6,11,40,37,0,0,0,0,172100,172100,10,1082,0,0,99,0,19720.90,21.04,16252.89,17.34,8424800,2,9,57.6,0,1,CNPJ,0,30,24,14657.61,21986.41,14657.61,14657.61,14657.61,16586.55,15622.08,15622.08,15622.08,15622.08,15622.08,0,0,0
405661,{ñ class},{ñ class},{ñ class},99,99,99,0,411010,84248,75248,{ñ class},1,7,5,5,4,7,11,40,51,0,0,0,0,172100,172100,10,1082,0,0,99,0,2020.61,2.15,2104.80,2.24,8424800,2,9,76.5,0,1,CNPJ,0,30,24,1895.86,2843.79,1895.86,1895.86,1895.86,1895.86,1895.86,1895.86,3080.98,2020.61,2020.61,0,0,0
405723,{ñ class},{ñ class},{ñ class},99,99,99,0,411010,84248,75248,{ñ class},1,5,5,8,7,7,11,40,33,0,0,0,0,172100,172100,10,1082,0,0,99,0,5144.83,5.49,5196.48,5.54,8424800,2,9,92.2,0,1,CNPJ,0,30,24,46.98,46.98,70.47,46.98,4885.34,5462.46,5144.83,5144.83,5144.83,5144.83,5144.83,0,0,0
405725,{ñ class},{ñ class},{ñ class},99,99,99,0,411010,84248,75248,{ñ class},1,5,5,9,8,6,11,40,32,0,0,0,0,172100,172100,10,1082,0,0,99,0,8065.24,8.60,8214.56,8.76,8424800,2,9,57.5,0,1,CNPJ,0,30,24,7567.31,11350.97,7567.31,7567.31,7567.31,8563.17,8065.24,8065.24,8065.24,8065.24,8065.24,0,0,0

In [ ]:
df_tudo['CBO Ocupação 2002'].value_counts()

411010    2771182
411005    2770761
252105     289171
212405     210169
252210     166905
212420     117933
317110      82623
317210      66586
241005      65973
317205      47549
212410      44965
212315      11573
212415      11186
212310       8662
317105       6786
317115       5869
212305       5606
212205       4209
212320       3139
212215       2527
317120       2332
212210       2211
Name: CBO Ocupação 2002, dtype: Int64

In [ ]:
df_tudo["ano"] = ANO
df_tudo.head(2)

,Bairros SP,Bairros Fortaleza,Bairros RJ,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 95 Classe,Distritos SP,Vínculo Ativo 31/12,Faixa Etária,Faixa Hora Contrat,Faixa Remun Dezem (SM),Faixa Remun Média (SM),Faixa Tempo Emprego,Escolaridade após 2005,Qtd Hora Contr,Idade,Ind CEI Vinculado,Ind Simples,Mês Admissão,Mês Desligamento,Mun Trab,Município,Nacionalidade,Natureza Jurídica,Ind Portador Defic,Qtd Dias Afastamento,Raça Cor,Regiões Adm DF,Vl Remun Dezembro Nom,Vl Remun Dezembro (SM),Vl Remun Média Nom,Vl Remun Média (SM),CNAE 2.0 Subclasse,Sexo Trabalhador,Tamanho Estabelecimento,Tempo Emprego,Tipo Admissão,Tipo Estab,Tipo Estab.1,Tipo Defic,Tipo Vínculo,IBGE Subsetor,Vl Rem Janeiro CC,Vl Rem Fevereiro CC,Vl Rem Março CC,Vl Rem Abril CC,Vl Rem Maio CC,Vl Rem Junho CC,Vl Rem Julho CC,Vl Rem Agosto CC,Vl Rem Setembro CC,Vl Rem Outubro CC,Vl Rem Novembro CC,Ano Chegada Brasil,Ind Trab Parcial,Ind Trab Intermitente,ano
399,{ñ class},{ñ class},{ñ class},99,99,99,20,411005,84116,75116,{ñ class},0,5,6,0,5,3,2,44,34,0,0,1,8,120035,120035,10,1031,0,0,99,0,0.0,0.0,2986.47,3.18,8411600,1,10,6.7,1,1,CNPJ,0,30,24,903.08,862.04,830.84,1035.92,9.2,9.20,9.20,17499.90,0.00,0.00,0.0,0,0,0,2017
470,{ñ class},{ñ class},{ñ class},99,99,99,12,411005,80129,74608,{ñ class},0,2,3,0,0,3,2,20,17,0,0,5,12,120040,120040,10,2054,0,0,2,0,0.0,0.0,440.10,0.46,8012900,1,6,6.5,1,1,CNPJ,0,55,19,0.00,0.00,0.00,0.00,440.1,440.11,440.11,440.11,440.11,440.11,0.0,0,0,0,2017

In [ ]:
df_tudo["Bairros RJ"].value_counts()

           {ñ class}    6140609
                9999     202334
                0370     126768
                0140      25877
                0190      19138
                         ...
                0200         16
                1240          8
                1720          4
                0660          2
                0470          2
Name: Bairros RJ, Length: 159, dtype: int64

# Salvando arquivo

In [ ]:
df_tudo["Mês Desligamento"] = df_tudo["Mês Desligamento"].replace("{ñ", -1)
df_tudo["Mês Desligamento"] = df_tudo["Mês Desligamento"].astype(int)

df_tudo["Bairros RJ"] = df_tudo["Bairros RJ"].replace('           {ñ class}', -1).replace("{ñ c", -1)
df_tudo["Bairros RJ"] = df_tudo["Bairros RJ"].astype(int)

df_tudo["Distritos SP"] = df_tudo["Distritos SP"].replace('           {ñ class}', -1)
df_tudo["Distritos SP"] = df_tudo["Distritos SP"].astype(int)

In [ ]:
df_tudo.to_parquet(f"./output/silver/rais_{ANO}_prof_TI_RAIS_VINC_PUB.parquet.gzip", index=False, compression="gzip")