# Carregar dados

In [1]:
ANO = 2018

In [2]:
import pandas as pd

# # Mostrar mais colunas
pd.set_option("display.max_columns", 100)
pd.set_option('display.max_colwidth', 100)

# pandas read txt and decode utf-8 and read until 1000 rows

IDS_PROFISSIONAIS_TI = ["212205", "212210", "212215", "212305", "212310", "212315", "212320", "212405", "212410", "212415", "212420", "317105", "317110", "317115", "317120", "317205", "317210"]
# OUTROS_PROFISSIONAIS = [
#     "241005", # Advogado
#     "252105", # Administrador
#     "252210", # Contador
#     "411010", # Assistente Administrativo
#     "411005", # Auxiliar de Escritorio, em Geral
# ]

def load_csv(path):
    dtype = {
    'Município': int,
    'Vl Remun Média Nom':  float,
    'Motivo Desligamento': int,
    'Idade': int,
    'CBO Ocupação 2002': "string",
    "Tamanho Estabelecimento": int,
    "Tipo Vínculo": int,
    "Faixa Tempo Emprego": int,
    "Motivo Desligamento": int,
    "Sexo Trabalhador":  int,
    "Escolaridade após 2005": int,
    }

    df = pd.read_csv(
    path, 
    encoding = "ISO-8859-1", 
    sep = ";", 
    decimal = ",", 
    dtype = dtype
    )

    qnt_total = len(df)

    df = df[df['CBO Ocupação 2002'].isin(IDS_PROFISSIONAIS_TI)] 
    # df = df[df['CBO Ocupação 2002'].isin(IDS_PROFISSIONAIS_TI + OUTROS_PROFISSIONAIS)] 

    print(f"""
    Path: {path}
    Quantidade docs: {qnt_total}
    Quantidade docs filtrados: {len(df)}
    """)

    return df

df_cen = load_csv(f"./output/bronze/rais_{ANO}/RAIS_VINC_PUB_CENTRO_OESTE.txt")

    Path: ./output/bronze/rais_2018/RAIS_VINC_PUB_CENTRO_OESTE.txt
    Quantidade docs: 6137466
    Quantidade docs filtrados: 53073

In [3]:
df_no = load_csv(f"./output/bronze/rais_{ANO}/RAIS_VINC_PUB_NORDESTE.txt")
df_mg = load_csv(f"./output/bronze/rais_{ANO}/RAIS_VINC_PUB_MG_ES_RJ.txt")
df_nt = load_csv(f"./output/bronze/rais_{ANO}/RAIS_VINC_PUB_NORTE.txt")
df_sp = load_csv(f"./output/bronze/rais_{ANO}/RAIS_VINC_PUB_SP.txt")
df_sul = load_csv(f"./output/bronze/rais_{ANO}/RAIS_VINC_PUB_SUL.txt")

    Path: ./output/bronze/rais_2018/RAIS_VINC_PUB_NORDESTE.txt
    Quantidade docs: 11577913
    Quantidade docs filtrados: 62396


    Path: ./output/bronze/rais_2018/RAIS_VINC_PUB_MG_ES_RJ.txt
    Quantidade docs: 13809769
    Quantidade docs filtrados: 127752


    Path: ./output/bronze/rais_2018/RAIS_VINC_PUB_NORTE.txt
    Quantidade docs: 3682332
    Quantidade docs filtrados: 63923


    Path: ./output/bronze/rais_2018/RAIS_VINC_PUB_SP.txt
    Quantidade docs: 18942186
    Quantidade docs filtrados: 295329


    Path: ./output/bronze/rais_2018/RAIS_VINC_PUB_SUL.txt
    Quantidade docs: 12065026
    Quantidade docs filtrados: 116070

# Juntando

In [4]:
df_tudo = pd.concat([df_cen, df_no, df_mg, df_nt, df_sp, df_sul])
len(df_tudo)

718543

In [5]:
df_tudo["Sexo Trabalhador"].value_counts()

1    559595
2    158948
Name: Sexo Trabalhador, dtype: int64

In [6]:
df_tudo['CBO Ocupação 2002'].value_counts()

212405    228674
317110    138248
212420    120447
317210     73210
317205     47274
212410     45315
212315     11630
212415     10728
212310      9234
317105      6677
317115      6148
212305      5947
212205      4035
212320      3987
212215      2678
317120      2515
212210      1796
Name: CBO Ocupação 2002, dtype: Int64

In [7]:
df_tudo["ano"] = ANO
df_tudo.head(2)

,Bairros SP,Bairros Fortaleza,Bairros RJ,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 95 Classe,Distritos SP,Vínculo Ativo 31/12,Faixa Etária,Faixa Hora Contrat,Faixa Remun Dezem (SM),Faixa Remun Média (SM),Faixa Tempo Emprego,Escolaridade após 2005,Qtd Hora Contr,Idade,Ind CEI Vinculado,Ind Simples,Mês Admissão,Mês Desligamento,Mun Trab,Município,Nacionalidade,Natureza Jurídica,Ind Portador Defic,Qtd Dias Afastamento,Raça Cor,Regiões Adm DF,Vl Remun Dezembro Nom,Vl Remun Dezembro (SM),Vl Remun Média Nom,Vl Remun Média (SM),CNAE 2.0 Subclasse,Sexo Trabalhador,Tamanho Estabelecimento,Tempo Emprego,Tipo Admissão,Tipo Estab,Tipo Estab.1,Tipo Defic,Tipo Vínculo,IBGE Subsetor,Vl Rem Janeiro CC,Vl Rem Fevereiro CC,Vl Rem Março CC,Vl Rem Abril CC,Vl Rem Maio CC,Vl Rem Junho CC,Vl Rem Julho CC,Vl Rem Agosto CC,Vl Rem Setembro CC,Vl Rem Outubro CC,Vl Rem Novembro CC,Ano Chegada Brasil,Ind Trab Intermitente,Ind Trab Parcial,Tipo Salário,Vl Salário Contratual,ano
14913,{ñ class},{ñ class},{ñ class},99,99,99,11,317210,95118,72508,{ñ class},0,6,6,0,3,6,3,44,47,0,1,0,2,500110,500110,10,2135,0,0,8,0,0.0,0.0,1600.96,1.67,9511800,1,2,44.5,0,1,CNPJ,0,10,19,1731.65,1470.27,0.00,0.00,0.00,0.00,0.0,0.0,0.0,0.0,0.0,0,0,0,1,"1.470,27",2018
18085,{ñ class},{ñ class},{ñ class},99,99,99,11,317105,77331,71331,{ñ class},0,5,6,0,4,4,4,44,33,0,1,0,6,500370,500370,10,2062,0,0,8,0,0.0,0.0,2397.99,2.51,7733100,1,3,14.5,0,1,CNPJ,0,10,19,2271.79,2271.79,2271.79,3003.81,2297.03,2271.78,0.0,0.0,0.0,0.0,0.0,0,0,0,1,"2.271,79",2018

# Salvando arquivo

In [8]:
df_tudo["Mês Desligamento"] = df_tudo["Mês Desligamento"].replace("{ñ", -1)
df_tudo["Mês Desligamento"] = df_tudo["Mês Desligamento"].astype(int)

In [9]:
df_tudo.to_parquet(f"./output/silver/rais_{ANO}_prof_TI_RAIS_VINC_PUB.parquet.gzip", index=False, compression="gzip")