# Carregar dados

In [1]:
import pandas as pd

# # Mostrar mais colunas
pd.set_option("display.max_columns", 100)
pd.set_option('display.max_colwidth', 100)

def load_file(ano = 2019):
  path = f"./output/silver/rais_{ano}_prof_TI_RAIS_VINC_PUB.parquet.gzip"
  df = pd.read_parquet(path)

  qnt_total = len(df)

  print(f"""
  Quantidade docs: {qnt_total}
  """)

  return df

df_2019 = load_file(ano = 2019)
df_2019.head(2)

  Quantidade docs: 162073

,Bairros SP,Bairros Fortaleza,Bairros RJ,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 95 Classe,Distritos SP,Vínculo Ativo 31/12,Faixa Etária,Faixa Hora Contrat,Faixa Remun Dezem (SM),Faixa Remun Média (SM),Faixa Tempo Emprego,Escolaridade após 2005,Qtd Hora Contr,Idade,Ind CEI Vinculado,Ind Simples,Mês Admissão,Mês Desligamento,Mun Trab,Município,Nacionalidade,Natureza Jurídica,Ind Portador Defic,Qtd Dias Afastamento,Raça Cor,Regiões Adm DF,Vl Remun Dezembro Nom,Vl Remun Dezembro (SM),Vl Remun Média Nom,Vl Remun Média (SM),CNAE 2.0 Subclasse,Sexo Trabalhador,Tamanho Estabelecimento,Tempo Emprego,Tipo Admissão,Tipo Estab,Tipo Estab.1,Tipo Defic,Tipo Vínculo,IBGE Subsetor,Vl Rem Janeiro CC,Vl Rem Fevereiro CC,Vl Rem Março CC,Vl Rem Abril CC,Vl Rem Maio CC,Vl Rem Junho CC,Vl Rem Julho CC,Vl Rem Agosto CC,Vl Rem Setembro CC,Vl Rem Outubro CC,Vl Rem Novembro CC,Ano Chegada Brasil,Ind Trab Intermitente,Ind Trab Parcial,ano
0,{ñ class},{ñ class},{ñ class},99,99,99,12,317210,47512,52450,{ñ class},0,2,6,0,1,1,6,44,17,0,1,8,10,0,500240,10,2135,0,0,2,0,0.0,0.0,997.99,0.99,4751201,1,1,2.9,1,1,CNPJ,0,10,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.98,9.98,0.0,0.0,0,0,0,2019
1,{ñ class},{ñ class},{ñ class},80,99,99,11,212420,10112,15113,{ñ class},0,5,6,0,99,8,6,44,36,0,0,0,01,500570,500570,10,2046,0,1,2,0,0.0,0.0,0.00,0.00,1011201,1,10,170.2,0,1,CNPJ,0,10,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.0,0.0,0,0,0,2019

In [2]:
ANOS = [2015, 2016, 2017, 2018, 2019, 2020, 2021]

df_anos = [load_file(a) for a in ANOS]
len(df_anos)

  Quantidade docs: 492004


  Quantidade docs: 512505


  Quantidade docs: 487168


  Quantidade docs: 466852


  Quantidade docs: 162073


  Quantidade docs: 222102


  Quantidade docs: 691982

7

In [3]:
df_tudo = pd.concat(df_anos)
df_tudo

,Bairros SP,Bairros Fortaleza,Bairros RJ,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,Motivo Desligamento,CBO Ocupação 2002,CNAE 2.0 Classe,CNAE 95 Classe,Distritos SP,Vínculo Ativo 31/12,Faixa Etária,Faixa Hora Contrat,Faixa Remun Dezem (SM),Faixa Remun Média (SM),Faixa Tempo Emprego,Escolaridade após 2005,Qtd Hora Contr,Idade,Ind CEI Vinculado,Ind Simples,Mês Admissão,Mês Desligamento,Mun Trab,Município,Nacionalidade,Natureza Jurídica,Ind Portador Defic,Qtd Dias Afastamento,Raça Cor,Regiões Adm DF,Vl Remun Dezembro Nom,Vl Remun Dezembro (SM),Vl Remun Média Nom,Vl Remun Média (SM),CNAE 2.0 Subclasse,Sexo Trabalhador,Tamanho Estabelecimento,Tempo Emprego,Tipo Admissão,Tipo Estab,Tipo Estab.1,Tipo Defic,Tipo Vínculo,IBGE Subsetor,Vl Rem Janeiro CC,Vl Rem Fevereiro CC,Vl Rem Março CC,Vl Rem Abril CC,Vl Rem Maio CC,Vl Rem Junho CC,Vl Rem Julho CC,Vl Rem Agosto CC,Vl Rem Setembro CC,Vl Rem Outubro CC,Vl Rem Novembro CC,ano,Ano Chegada Brasil,Ind Trab Parcial,Ind Trab Intermitente,Tipo Salário,Vl Salário Contratual,Vl Rem Janeiro SC,Vl Rem Fevereiro SC,Vl Rem Março SC,Vl Rem Abril SC,Vl Rem Maio SC,Vl Rem Junho SC,Vl Rem Julho SC,Vl Rem Agosto SC,Vl Rem Setembro SC,Vl Rem Outubro SC,Vl Rem Novembro SC
0,{ñ c,{ñ c,-1,99,99,99,11,317205,74200,74918,-1,0,4,6,0,2,4,3,44,25,0,1,0,2,120040,120040,10,2135,0,0,2,0,0.00,0.00,851.02,1.07,7420001,1,2,13.2,0,1,CNPJ,0,10,21,851.04,851.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,{ñ c,{ñ c,-1,99,99,99,11,317205,53202,64122,-1,0,3,6,0,2,4,5,44,21,0,1,0,9,120020,120020,10,2135,0,0,9,0,0.00,0.00,882.55,1.11,5320202,1,3,19.2,0,1,CNPJ,0,10,20,851.04,1115.81,869.95,851.04,851.04,851.04,851.04,851.04,851.03,0.0,0.0,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,{ñ c,{ñ c,-1,99,99,99,12,212410,41204,45217,-1,0,2,3,0,0,3,6,20,15,0,0,2,12,120040,120040,10,2062,0,0,9,0,394.00,0.50,390.74,0.49,4120400,1,4,10.0,2,1,CNPJ,0,55,15,0.00,358.18,394.00,394.00,394.00,394.00,394.00,394.00,394.00,394.0,394.0,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,{ñ c,{ñ c,-1,99,99,99,11,212420,63992,74993,-1,0,5,6,0,4,4,7,44,39,0,0,0,12,120040,120040,10,2054,0,0,9,0,8299.72,10.53,1640.39,2.07,6399200,1,5,15.5,0,1,CNPJ,0,10,19,1000.00,1000.00,1105.00,1035.00,1035.00,1035.00,1035.00,1035.00,1035.00,1035.0,1035.0,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,{ñ c,{ñ c,-1,99,99,99,12,317110,47512,52450,-1,0,4,6,0,2,1,7,44,25,0,1,3,5,120040,120040,49,2135,0,0,9,0,0.00,0.00,901.99,1.14,4751201,1,3,2.9,2,1,CNPJ,0,10,16,0.00,0.00,1107.54,1245.20,353.23,0.00,0.00,0.00,0.00,0.0,0.0,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691977,{ñ class},{ñ class},{ñ class},99,99,99,0,212405,85325,80322,{ñ class},1,6,6,9,8,2,11,44,47,0,0,8,-1,0,431490,10,3999,0,0,2,0,10485.00,9.53,10415.10,9.46,8532500,2,10,4.9,2,1,CNPJ,0,10,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,0.0,0.0,0.0,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,10135.50,104.85,104.85,104.85
691978,{ñ class},{ñ class},{ñ class},50,99,99,0,212405,72100,73105,{ñ class},1,5,5,10,8,5,11,40,38,0,0,0,-1,431490,431490,10,3999,0,114,9,0,11388.30,10.35,9932.69,9.02,7210000,2,7,32.9,0,1,CNPJ,0,10,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,0.0,0.0,0.0,NaN,NaN,8591.14,17539.73,9164.90,8591.14,8591.14,8591.14,8591.14,8591.14,9500.01,95.00,10552.60
691979,{ñ class},{ñ class},{ñ class},99,99,99,0,317210,82199,74993,{ñ class},1,5,1,2,1,3,11,9,32,0,1,2,-1,0,431680,10,2240,0,0,9,0,968.03,0.88,777.17,0.70,8219999,2,5,10.9,2,1,CNPJ,0,10,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,0.0,0.0,0.0,NaN,NaN,0.00,634.20,713.48,741.59,659.19,763.02,763.02,678.24,932.58,932.58,763.02
691980,{ñ class},{ñ class},{ñ class},99,99,99,0,317110,85325,80322,{ñ class},1,6,6,8,7,3,11,42,45,0,0,5,-1,0,431490,10,3999,0,0,2,0,6506.13,5.91,6421.08,5.83,8532500,2,10,7.9,2,1,CNPJ,0,10,23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,0.0,0.0,0.0,NaN,NaN,0.00,0.00,0.00,0.00,5953.31,6442.34,6442.34,6506.13,6506.13,6506.13,6506.13
691981,{ñ class},{ñ class},{ñ class},99,99,99,0,317110,62023,72214,{ñ class},1,4,6,10,8,2,11,44,28,0,0,8,-1,431490,431490,10,2062,0,0,2,0,13981.75,12.71,8302.60,7.54,6202300,2,4,4.4,2,1,CNPJ,0,10,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021,0.0,0.0,0.0,NaN,NaN,0.00,0.00,0.00,0.00,0.00,0.00,0.00,4041.29,78.30,78.30,78.30

# Somente colunas que importam

In [4]:
RENAME_COLUNAS_QUE_IMPORTAM = columns = {
    'Município': 'id_uf_municipio',
    'Vl Remun Média Nom': 'remuneracao_media',
    'Motivo Desligamento': 'desligamento_id',
    'Idade': 'idade',
    'CBO Ocupação 2002': 'ocupacao_id',
    'Sexo Trabalhador': 'sexo_id'
}

In [5]:
def somente_cols_importam(df):
  df_r = df[['ano', 'Município', 'Vl Remun Média Nom', 'Motivo Desligamento', 'Idade',
             'CBO Ocupação 2002', 'Sexo Trabalhador']]

  df_r = df_r.rename(columns=RENAME_COLUNAS_QUE_IMPORTAM)

  df_r.head(2)
  return df_r

df_c_tudo = somente_cols_importam(df_tudo)
df_c_tudo.head(2)

,ano,id_uf_municipio,remuneracao_media,desligamento_id,idade,ocupacao_id,sexo_id
0,2015,120040,851.02,11,25,317205,1
1,2015,120020,882.55,11,21,317205,1

# Juntando com UF

In [6]:
def load_file_mun(df, ano = 2019):
  path =f"./output/silver/uf_municipio_{ano}.parquet.gzip"
  df_mun = pd.read_parquet(path)

  df_mun["id_uf_municipio"] = df_mun["id_uf_municipio"].astype(int)

  df_m = pd.merge(df, df_mun, on='id_uf_municipio', how='left', suffixes=('', '_mun'))
  df_m.drop(columns=['ano_mun'], inplace=True)

  qnt_total = len(df)

  print(f"""
  Quantidade docs: {qnt_total}
  """)

  return df_m

df_d_tudo = load_file_mun(df_c_tudo, ano = 2019)
df_d_tudo.head(2)

  Quantidade docs: 3034686

,ano,id_uf_municipio,remuneracao_media,desligamento_id,idade,ocupacao_id,sexo_id,sigla_uf,sigla_municipio
0,2015,120040,851.02,11,25,317205,1,AC,Rio Branco
1,2015,120020,882.55,11,21,317205,1,AC,Cruzeiro do Sul

# Juntando tudo

In [7]:
df = df_d_tudo.copy()
len(df)

3034686

In [8]:
df["sigla_uf"].value_counts()

sigla_uf
SP    1247182
RJ     285968
MG     268764
RS     207955
PR     173679
DF     166021
SC     135836
PE      69907
BA      67262
RO      62144
CE      61723
GO      49356
ES      47448
MT      28036
PA      25075
PB      19729
MS      19335
AM      17940
RN      17894
MA      13810
PI      12631
AL      11141
SE      11021
TO       7383
RR       2586
AC       2467
AP       2393
Name: count, dtype: int64

# Salvando arquivo

In [9]:
df.to_parquet("./output/silver/rais_TODOS_ANOS_RAIS_VINC_PUB.parquet.gzip", index=False, compression="gzip")

## Arquivo com todas as colunas

In [10]:
def somente_cols_importam_raw(df):

  df_r = df.rename(columns=RENAME_COLUNAS_QUE_IMPORTAM)

  df_r.head(2)
  return df_r

In [11]:
df_e = somente_cols_importam_raw(df_tudo)

df_g = load_file_mun(df_e, ano=2019)

df_g.head(2)

  Quantidade docs: 3034686

,Bairros SP,Bairros Fortaleza,Bairros RJ,Causa Afastamento 1,Causa Afastamento 2,Causa Afastamento 3,desligamento_id,ocupacao_id,CNAE 2.0 Classe,CNAE 95 Classe,Distritos SP,Vínculo Ativo 31/12,Faixa Etária,Faixa Hora Contrat,Faixa Remun Dezem (SM),Faixa Remun Média (SM),Faixa Tempo Emprego,Escolaridade após 2005,Qtd Hora Contr,idade,Ind CEI Vinculado,Ind Simples,Mês Admissão,Mês Desligamento,Mun Trab,id_uf_municipio,Nacionalidade,Natureza Jurídica,Ind Portador Defic,Qtd Dias Afastamento,Raça Cor,Regiões Adm DF,Vl Remun Dezembro Nom,Vl Remun Dezembro (SM),remuneracao_media,Vl Remun Média (SM),CNAE 2.0 Subclasse,sexo_id,Tamanho Estabelecimento,Tempo Emprego,Tipo Admissão,Tipo Estab,Tipo Estab.1,Tipo Defic,Tipo Vínculo,IBGE Subsetor,Vl Rem Janeiro CC,Vl Rem Fevereiro CC,Vl Rem Março CC,Vl Rem Abril CC,Vl Rem Maio CC,Vl Rem Junho CC,Vl Rem Julho CC,Vl Rem Agosto CC,Vl Rem Setembro CC,Vl Rem Outubro CC,Vl Rem Novembro CC,ano,Ano Chegada Brasil,Ind Trab Parcial,Ind Trab Intermitente,Tipo Salário,Vl Salário Contratual,Vl Rem Janeiro SC,Vl Rem Fevereiro SC,Vl Rem Março SC,Vl Rem Abril SC,Vl Rem Maio SC,Vl Rem Junho SC,Vl Rem Julho SC,Vl Rem Agosto SC,Vl Rem Setembro SC,Vl Rem Outubro SC,Vl Rem Novembro SC,sigla_uf,sigla_municipio
0,{ñ c,{ñ c,-1,99,99,99,11,317205,74200,74918,-1,0,4,6,0,2,4,3,44,25,0,1,0,2,120040,120040,10,2135,0,0,2,0,0.0,0.0,851.02,1.07,7420001,1,2,13.2,0,1,CNPJ,0,10,21,851.04,851.01,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.0,0.0,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AC,Rio Branco
1,{ñ c,{ñ c,-1,99,99,99,11,317205,53202,64122,-1,0,3,6,0,2,4,5,44,21,0,1,0,9,120020,120020,10,2135,0,0,9,0,0.0,0.0,882.55,1.11,5320202,1,3,19.2,0,1,CNPJ,0,10,20,851.04,1115.81,869.95,851.04,851.04,851.04,851.04,851.04,851.03,0.0,0.0,2015,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AC,Cruzeiro do Sul

In [12]:
df_g["Mês Desligamento"] = df_g["Mês Desligamento"].replace("{ñ", -1)
df_g["Mês Desligamento"] = df_g["Mês Desligamento"].astype(int)

df_g["Bairros RJ"] = df_g["Bairros RJ"].replace("{ñ c", -1).replace('           {ñ class}', -1)
df_g["Bairros RJ"] = df_g["Bairros RJ"].astype(int)

df_g["Distritos SP"] = df_g["Distritos SP"].replace('           {ñ class}', -1)
df_g["Distritos SP"] = df_g["Distritos SP"].astype(int)

In [13]:
# Salvando com todas as colunas
df_g.to_parquet("./output/silver/rais_TODOS_ANOS_TODAS_COLS_RAIS_VINC_PUB.parquet.gzip",
              index=False, compression="gzip")