# Carregar dados

In [1]:
import pandas as pd

# # Mostrar mais colunas
pd.set_option("display.max_columns", 100)
pd.set_option("display.max_rows", 200)
pd.set_option('display.max_colwidth', 100)

df = pd.read_csv("./output/gold/rais_TODOS_ANOS_comJoin_RAIS_VINC_PUB.csv", decimal=",", sep=";")

qnt_full = len(df)
print(f"""
Quantidade docs: {qnt_full}
Shape: {df.shape}
""")

df.head(2)

Quantidade docs: 5006453
Shape: (5006453, 22)

,ano,regiao_id,regiao,sigla_uf_id,sigla_uf,sigla_municipio,remuneracao_media,idade,tmh_estabalecimento_id,tmh_estabalecimento,tpo_vinculo_id,tpo_vinculo,fxa_tmp_emprego_id,fxa_tmp_emprego,mot_desligamento_id,mot_desligamento,sexo_id,sexo,ocupacao_id,ocupacao,escolaridade_id,escolaridade
0,2015,2,Norte,0,AC,Rio Branco,851.02,25,2,ATE 4,10,CLT U/PJ IND,4,"12,0 a 23,9 meses",11,DEM SEM JC,1,Masculino,317205,Operador de Computador(Inclusive Microcomputador),3,5.A CO FUND
1,2015,2,Norte,0,AC,Cruzeiro do Sul,882.55,21,3,DE 5 A 9,10,CLT U/PJ IND,4,"12,0 a 23,9 meses",11,DEM SEM JC,1,Masculino,317205,Operador de Computador(Inclusive Microcomputador),5,FUND COMPL

In [2]:
df_old = pd.read_csv("./output/gold/OLD_rais_TODOS_ANOS_comJoin_RAIS_VINC_PUB.csv", decimal=",", sep=";")

# remove tpo_salario_id and tpo_salario from df
df_old.drop(columns=['tpo_salario_id', 'tpo_salario', 'country'], inplace=True)

qnt_full = len(df_old)
print(f"""
Quantidade docs: {qnt_full}
Shape: {df_old.shape}
""")

df_old.head(2)

Quantidade docs: 3034686
Shape: (3034686, 22)

,ano,regiao_id,regiao,sigla_uf_id,sigla_uf,sigla_municipio,remuneracao_media,idade,tmh_estabalecimento_id,tmh_estabalecimento,tpo_vinculo_id,tpo_vinculo,fxa_tmp_emprego_id,fxa_tmp_emprego,mot_desligamento_id,mot_desligamento,sexo_id,sexo,ocupacao_id,ocupacao,escolaridade_id,escolaridade
0,2015,2,Norte,0,AC,Rio Branco,851.02,25,2,ATE 4,10,CLT U/PJ IND,4,"12,0 a 23,9 meses",11,DEM SEM JC,1,Masculino,317205,Operador de Computador(Inclusive Microcomputador),3,5.A CO FUND
1,2015,2,Norte,0,AC,Cruzeiro do Sul,882.55,21,3,DE 5 A 9,10,CLT U/PJ IND,4,"12,0 a 23,9 meses",11,DEM SEM JC,1,Masculino,317205,Operador de Computador(Inclusive Microcomputador),5,FUND COMPL

In [3]:
# get diff rows from df and df_old
df_diff = pd.concat([df, df_old]).drop_duplicates(keep=False)
df_diff

,ano,regiao_id,regiao,sigla_uf_id,sigla_uf,sigla_municipio,remuneracao_media,idade,tmh_estabalecimento_id,tmh_estabalecimento,tpo_vinculo_id,tpo_vinculo,fxa_tmp_emprego_id,fxa_tmp_emprego,mot_desligamento_id,mot_desligamento,sexo_id,sexo,ocupacao_id,ocupacao,escolaridade_id,escolaridade
9,2015,2,Norte,0,AC,Rio Branco,390.41,18,4,DE 10 A 19,55,APREND CONTR,3,"6,0 a 11,9 meses",12,TERM CONTR,1,Masculino,212410,Analista de Redes e de Comunicacao de Dados,7,MEDIO COMPL
11,2015,2,Norte,0,AC,Rio Branco,630.00,19,4,DE 10 A 19,10,CLT U/PJ IND,1,"Ate 2, 9 meses",12,TERM CONTR,1,Masculino,317205,Operador de Computador(Inclusive Microcomputador),7,MEDIO COMPL
12,2015,2,Norte,0,AC,Rio Branco,992.41,20,4,DE 10 A 19,10,CLT U/PJ IND,1,"Ate 2, 9 meses",12,TERM CONTR,1,Masculino,317205,Operador de Computador(Inclusive Microcomputador),7,MEDIO COMPL
13,2015,2,Norte,0,AC,Rio Branco,1587.43,26,4,DE 10 A 19,10,CLT U/PJ IND,2,"3,0 a 5,9 meses",11,DEM SEM JC,1,Masculino,317205,Operador de Computador(Inclusive Microcomputador),7,MEDIO COMPL
14,2015,2,Norte,0,AC,Rio Branco,1029.98,29,4,DE 10 A 19,10,CLT U/PJ IND,3,"6,0 a 11,9 meses",11,DEM SEM JC,1,Masculino,317205,Operador de Computador(Inclusive Microcomputador),7,MEDIO COMPL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5006448,2021,4,Sul,22,RS,Sao Leopoldo,13359.32,28,10,1000 OU MAIS,10,CLT U/PJ IND,7,"60,0 a 119,9 meses",0,NAO DESL ANO,2,Feminino,212420,Analista de Suporte Computacional,11,DOUTORADO
5006449,2021,4,Sul,22,RS,Sao Leopoldo,9087.26,39,10,1000 OU MAIS,10,CLT U/PJ IND,5,"24,0 a 35,9 meses",0,NAO DESL ANO,2,Feminino,212420,Analista de Suporte Computacional,11,DOUTORADO
5006450,2021,4,Sul,22,RS,Porto Alegre,4018.00,37,8,DE 250 A 499,10,CLT U/PJ IND,3,"6,0 a 11,9 meses",0,NAO DESL ANO,2,Feminino,212215,Engenheiros de Sistemas Operacionais em Computacao,11,DOUTORADO
5006451,2021,4,Sul,22,RS,Porto Alegre,4581.00,41,5,DE 20 A 49,10,CLT U/PJ IND,3,"6,0 a 11,9 meses",0,NAO DESL ANO,2,Feminino,212410,Analista de Redes e de Comunicacao de Dados,11,DOUTORADO
5006452,2021,4,Sul,22,RS,Porto Alegre,4779.13,40,5,DE 20 A 49,10,CLT U/PJ IND,5,"24,0 a 35,9 meses",0,NAO DESL ANO,2,Feminino,212410,Analista de Redes e de Comunicacao de Dados,11,DOUTORADO

In [4]:
IDS_PROFISSIONAIS_TI = ["212205", "212210", "212215", "212305", "212310", "212315", "212320", "212405", "212410", "212415", "212420", "317105", "317110", "317115", "317120", "317205", "317210"]

In [5]:
df_diff["ocupacao_id"].value_counts().sort_index()

212205     14061
212210      4408
212215      9069
212305     15751
212310     23598
212315     32408
212320     14192
212405    597933
212410    128370
212415     30150
212420    341559
317105     17884
317110    282913
317115     21217
317120      6797
317205    151396
317210    215837
Name: ocupacao_id, dtype: int64

In [6]:
df_diff["ano"].value_counts()

2019    558465
2020    523835
2018    248831
2021    182127
2017    145738
2015    138347
2016    110200
Name: ano, dtype: int64

In [7]:
df["ano"].value_counts()

2021    875572
2020    770017
2019    752629
2018    718543
2017    633925
2015    631892
2016    623875
Name: ano, dtype: int64

In [8]:
df_old["ano"].value_counts()

2021    691982
2016    512505
2015    492004
2017    487168
2018    466852
2020    222102
2019    162073
Name: ano, dtype: int64

In [9]:
df[df["ano"] == 2021]["sexo"].value_counts()

Masculino    699238
Feminino     176334
Name: sexo, dtype: int64

In [10]:
df_old[df_old["ano"] == 2021]["sexo"].value_counts()

Masculino    544798
Feminino     147184
Name: sexo, dtype: int64