# Carregar dados

In [17]:
import pandas as pd

# # Mostrar mais colunas
pd.set_option("display.max_columns", 100)
pd.set_option('display.max_colwidth', 100)

df = pd.read_parquet("./output/gold/rais_TODOS_ANOS_comJoin_RAIS_VINC_PUB.parquet.gzip")

qnt_full = len(df)
print(f"""
Quantidade docs: {qnt_full}
""")

df.head(2)

Quantidade docs: 384175

,ano,sigla_uf_id,regiao,regiao_id,sigla_uf,remuneracao_media,desligamento,idade,ocupacao_id,ocupacao,sexo_id,sexo
0,2019,11,Centro-Oeste,0,MS,997.99,0,17,317210,Analista de service desk,1,Masculino
1,2019,11,Centro-Oeste,0,MS,0.00,0,36,212420,Analista de suporte,1,Masculino

In [18]:
df_2019 = df[df["ano"] == 2019]
df_2020 = df[df["ano"] == 2020]

print(f"""
Quantidade
df_2019: {len(df_2019)}
df_2020: {len(df_2020)}
""")

Quantidade
df_2019: 162073
df_2020: 222102

# Verificando Dados Gerais

In [19]:
df.describe()

,ano,sigla_uf_id,regiao_id,remuneracao_media,desligamento,idade,ocupacao_id,sexo_id
count,384175.000000,384175.000000,384175.000000,384175.000000,384175.000000,384175.000000,384175.000000,384175.000000
mean,2019.578127,18.448993,2.581313,4785.165768,0.278665,33.430012,248348.551454,1.183627
std,0.493859,7.259085,1.382522,4988.169084,0.448343,9.375189,49735.833043,0.387180
min,2019.000000,0.000000,-1.000000,0.000000,0.000000,14.000000,212205.000000,1.000000
25%,2019.000000,11.000000,3.000000,1708.455000,0.000000,26.000000,212405.000000,1.000000
50%,2020.000000,22.000000,3.000000,3200.050000,0.000000,32.000000,212420.000000,1.000000
75%,2020.000000,25.000000,3.000000,6231.990000,1.000000,38.000000,317110.000000,1.000000
max,2020.000000,26.000000,4.000000,120828.570000,1.000000,85.000000,317210.000000,2.000000

# Dados por Estado, Sexo

In [20]:
# graf_sigla_uf = df[["sigla_uf"]].value_counts(ascending=True).plot(kind="barh", 
#                                                                    figsize=(15, 10), 
#                                                                    title="Quantidade de profissionais por UF")
# graf_sigla_uf.get_figure().savefig("./output/gold/graf_sigla_uf.png")

In [21]:
# graf_sexo = df[["sexo"]].value_counts(ascending=True).plot(kind="barh", 
#                                                                    figsize=(10, 8), 
#                                                                    title="Sexo")
# graf_sexo.get_figure().savefig("./output/gold/graf_sexo.png")

# Analisando

In [22]:
# show df grouping by ano, and from this, show the group by sexo
df.groupby(["ano", "sexo"]).size().reset_index(name="qnt")

    ano       sexo     qnt
0  2019   Feminino   25888
1  2019  Masculino  136185
2  2020   Feminino   44657
3  2020  Masculino  177445

### Salários

Por: ANO 2019, Sexo, Região

In [35]:
# df_ana = df_2019[["sigla_uf", "desligamento", "ocupacao", "sexo", "remuneracao_media"]]
df_ana = df_2020[["sigla_uf", "desligamento", "ocupacao", "sexo", "regiao", "remuneracao_media"]]
df_ana

,sigla_uf,desligamento,ocupacao,sexo,regiao,remuneracao_media
162073,MS,0,Operador de computador (inclusive microcomputador,Masculino,Centro-Oeste,1843.44
162074,MS,0,Operador de computador (inclusive microcomputador,Masculino,Centro-Oeste,1606.26
162075,MS,0,Operador de computador (inclusive microcomputador,Masculino,Centro-Oeste,1756.35
162076,MS,0,Desenvolvedor de sustentação de ti (técnico),Masculino,Centro-Oeste,2417.00
162077,MS,0,Analista de comunicação (teleprocessamento),Masculino,Centro-Oeste,4050.00
...,...,...,...,...,...,...
384170,RS,1,Analista de comunicação (teleprocessamento),Feminino,Sul,5476.49
384171,RS,1,Analista de suporte,Feminino,Sul,2258.49
384172,RS,1,Desenvolvedor de sustentação de ti (técnico),Feminino,Sul,6300.00
384173,RS,1,Analista de comunicação (teleprocessamento),Feminino,Sul,4161.69
384174,RS,1,Analista de comunicação (teleprocessamento),Feminino,Sul,7072.60

In [36]:
# df_ana_r remove where remuneracao_media = 0
df_ana_r = df_ana[df_ana["remuneracao_media"] > 0]

# Remun. Média

In [37]:
# group df_ana_r by sigla_uf and add a column with mean, max, min, std
df_ana_f = df_ana_r.groupby(["regiao", "sexo"]).agg(
    {"remuneracao_media": ["mean", "min", "max", "std"]})

# round values to 2 decimal places
df_ana_f = df_ana_f.round(2)

# export to table in latex to 2 decimal places
df_ana_f.reset_index().to_latex("./output/silver/df_ana_f.tex", index=False)

df_ana_f

C:\Users\celiudos\AppData\Local\Temp\ipykernel_19716\2078087916.py:9: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  df_ana_f.reset_index().to_latex("./output/silver/df_ana_f.tex", index=False)

                       remuneracao_media
                                    mean     min        max      std
regiao       sexo
Centro-Oeste Feminino            2709.50  315.69   36437.56  3365.90
             Masculino           3070.05  311.70   45579.51  2661.07
Nordeste     Feminino            3161.25  313.86   43623.47  3513.94
             Masculino           3481.98  311.70   54084.93  3393.45
Norte        Feminino            3741.41  337.10   51863.85  3419.64
             Masculino           3161.25  313.59   77710.46  3429.92
Sudeste      Feminino            4386.02  312.84   70360.39  4287.26
             Masculino           5285.72  311.94  120581.45  5035.27
Sul          Feminino            3275.24  313.82   58268.44  2953.85
             Masculino           3942.60  312.05   62973.81  3347.73

# Demissões

In [38]:
# group df_ana_r by sigla_uf and add a column with mean, max, min, std
df_ana_f = df_ana_r.groupby(["regiao", "sexo"]).agg(
    {"desligamento": ["count"]})

# round values to 2 decimal places
df_ana_f = df_ana_f.round(2)

# export to table in latex to 2 decimal places
df_ana_f.reset_index().to_latex("./output/silver/df_ana_f.tex", index=False)

df_ana_f

C:\Users\celiudos\AppData\Local\Temp\ipykernel_19716\956804233.py:9: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  df_ana_f.reset_index().to_latex("./output/silver/df_ana_f.tex", index=False)

                       desligamento
                              count
regiao       sexo
Centro-Oeste Feminino          1014
             Masculino         4892
Nordeste     Feminino          3939
             Masculino        17567
Norte        Feminino          4031
             Masculino         4085
Sudeste      Feminino         24390
             Masculino       103504
Sul          Feminino          7720
             Masculino        30439

# Cargos

In [39]:
# from df_ana, count the number of ocupacao by sexo
df_ana.groupby(["ocupacao", "sexo"]).size().reset_index()

                                               ocupacao       sexo      0
0    Administrador de rede e de sistemas computacionais   Feminino    331
1    Administrador de rede e de sistemas computacionais  Masculino   2398
2              Administrador de sistemas computacionais   Feminino    754
3              Administrador de sistemas computacionais  Masculino   2850
4           Analista de comunicação (teleprocessamento)   Feminino   3240
5           Analista de comunicação (teleprocessamento)  Masculino   9553
6               Analista de desenvolvimento de software   Feminino  14535
7               Analista de desenvolvimento de software  Masculino  63493
8                              Analista de service desk   Feminino   4873
9                              Analista de service desk  Masculino  17452
10                                  Analista de suporte   Feminino   7038
11                                  Analista de suporte  Masculino  28033
12                  Analista em segurança da informação   Feminino    351
13                  Analista em segurança da informação  Masculino   1627
14                                                  Dba   Feminino    447
15                                                  Dba  Masculino   1795
16                               Desenvolvedor de games   Feminino    154
17                               Desenvolvedor de games  Masculino    887
18                  Desenvolvedor de internet (técnico)   Feminino    333
19                  Desenvolvedor de internet (técnico)  Masculino   1945
20         Desenvolvedor de sustentação de ti (técnico)   Feminino   7137
21         Desenvolvedor de sustentação de ti (técnico)  Masculino  30097
22                 Engenheiro de hardware computacional   Feminino     42
23                 Engenheiro de hardware computacional  Masculino    328
24  Engenheiro de sistemas computacionais - aplicativos   Feminino    273
25  Engenheiro de sistemas computacionais - aplicativos  Masculino   2178
26          Engenheiro de software computacional básico   Feminino    132
27          Engenheiro de software computacional básico  Masculino   1193
28    Operador de computador (inclusive microcomputador   Feminino   4246
29    Operador de computador (inclusive microcomputador  Masculino   9719

# Outros

In [40]:
df_ana[df_ana["sigla_uf"].isin(REGIOES["Norte"])].describe()

       desligamento  remuneracao_media
count   8361.000000        8361.000000
mean       0.244349        3348.327741
std        0.429726        3435.752022
min        0.000000           0.000000
25%        0.000000        1418.980000
50%        0.000000        2506.070000
75%        0.000000        3908.880000
max        1.000000       77710.460000

In [41]:
# group df_ana by sigla_uf and show mean of valor_remuneracao_media

df_ana.groupby(["sigla_uf", "sexo"]).mean().reset_index()

C:\Users\celiudos\AppData\Local\Temp\ipykernel_19716\1234313493.py:3: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df_ana.groupby(["sigla_uf", "sexo"]).mean().reset_index()

   sigla_uf       sexo  desligamento  remuneracao_media
0        AC   Feminino      0.606061        2717.583030
1        AC  Masculino      0.071429        2096.032857
2        AL   Feminino      0.365517        2717.876759
3        AL  Masculino      0.000000        2079.399710
4        AM   Feminino      0.242215        3743.002491
5        AM  Masculino      0.013333        3353.178695
6        AP   Feminino      0.714286        5047.169184
7        AP  Masculino      0.360294        1670.463971
8        BA   Feminino      0.259429        3251.317474
9        BA  Masculino      0.222190        3133.644136
10       CE   Feminino      0.057260        2015.480644
11       CE  Masculino      0.105812        2721.177611
12       DF   Feminino      0.373684        4841.200742
13       DF  Masculino      0.470666        7484.911668
14       ES   Feminino      0.106858        2695.449027
15       ES  Masculino      0.052677        3163.799238
16       GO   Feminino      0.018957        2478.393294
17       GO  Masculino      0.174777        3182.090559
18       MA   Feminino      0.076190        2556.948190
19       MA  Masculino      0.000000        2479.481085
20       MG   Feminino      0.069465        2877.235355
21       MG  Masculino      0.158552        3473.004440
22       MS   Feminino      0.075269        2346.818244
23       MS  Masculino      0.149331        2388.023677
24       MT   Feminino      0.053908        2821.523504
25       MT  Masculino      0.088402        2769.334704
26       PA   Feminino      0.409375        4230.514125
27       PA  Masculino      0.162812        2552.959833
28       PB   Feminino      0.493631        2839.344777
29       PB  Masculino      0.006336        2911.255776
30       PE   Feminino      0.394052        4365.006403
31       PE  Masculino      0.500168        4226.836179
32       PI   Feminino      0.000000        1273.174912
33       PI  Masculino      0.022544        1953.252528
34       PR   Feminino      0.303887        3640.199117
35       PR  Masculino      0.216376        3847.596903
36       RJ   Feminino      0.213097        3998.396911
37       RJ  Masculino      0.470880        5722.109911
38       RN   Feminino      0.394958        2652.995924
39       RN  Masculino      0.608271        3983.543716
40       RO   Feminino      0.443908        3638.475866
41       RO  Masculino      0.002609        3579.857495
42       RR   Feminino      0.468750        4626.250312
43       RR  Masculino      0.442478        2141.981947
44       RS   Feminino      0.265681        3160.882006
45       RS  Masculino      0.266930        3855.987339
46       SC   Feminino      0.227349        2728.731580
47       SC  Masculino      0.289297        3710.482757
48       SE   Feminino      0.300000        3863.017917
49       SE  Masculino      0.144231        2616.098385
50       SP   Feminino      0.287984        4586.046540
51       SP  Masculino      0.286961        5343.575160
52       TO   Feminino      0.000000        1370.479714
53       TO  Masculino      0.007435        1967.534572

# Correlação entre colunas

- Correlação entre Ano, Estado, Idade, Ocupação, Sexo, Cor

In [43]:
# # https://stackoverflow.com/questions/48035381/correlation-among-multiple-categorical-variables-pandas

# df_apenas_ids = df[[
#     "ano", "sigla_uf_id", "idade", "ocupacao_id", "sexo_id", "raca_cor_id"]]

# corr_an = df_apenas_ids.apply(lambda x : pd.factorize(x)[0]).corr(method='pearson', min_periods=1)
# # corr_an = df_apenas_ids.corr()
# corr_an

Matriz de correlação: The correlation coefficient ranges from –1 to 1. When it is close to 1, it means that there is a strong positive correlation; for example, the median house value tends to go up when the median income goes up. When the coefficient is close to –1, it means that there is a strong negative correlation; you can see a small negative correlation between

In [44]:
# import seaborn as sns
# import matplotlib.pyplot as plt

# plt.figure(figsize=(13, 6))
# sns.heatmap(corr_an, vmax=1, annot=True, linewidths=.5)
# plt.xticks(rotation=30, horizontalalignment="right")
# plt.show()

In [ ]:
# from pandas.plotting import scatter_matrix

# scatter_matrix(df_apenas_ids, figsize=(12, 8))