# Carregar dados

In [2]:
import pandas as pd

# # Mostrar mais colunas
pd.set_option("display.max_columns", 100)
pd.set_option('display.max_colwidth', 100)

df = pd.read_parquet("./output/gold/rais_TODOS_ANOS_comJoin_RAIS_VINC_PUB.parquet.gzip")

qnt_full = len(df)
print(f"""
Quantidade docs: {qnt_full}
""")

df.head(2)

Quantidade docs: 1543009

,ano,sigla_uf_id,regiao,regiao_id,sigla_uf,remuneracao_media,desligamento,idade,ocupacao_id,ocupacao,sexo_id,sexo
0,2019,11,Centro-Oeste,0,MS,997.99,0,17,317210,Tecnico de Apoio ao Usuario de Informatica (Helpdesk),1,Masculino
1,2019,11,Centro-Oeste,0,MS,0.00,0,36,212420,Analista de Suporte Computacional,1,Masculino

In [3]:
# df[df["remuneracao_media"] > 0]["ano"].value_counts()
df["ano"].value_counts()

ano
2021    691982
2018    466852
2020    222102
2019    162073
Name: count, dtype: int64

In [4]:
df_2019 = df[df["ano"] == 2019]
df_2020 = df[df["ano"] == 2020]

print(f"""
Quantidade
df_2019: {len(df_2019)}
df_2020: {len(df_2020)}
""")

Quantidade
df_2019: 162073
df_2020: 222102

# Verificando Dados Gerais

In [5]:
df.describe()

,ano,sigla_uf_id,regiao_id,remuneracao_media,desligamento,idade,ocupacao_id,sexo_id
count,1.543009e+06,1.543009e+06,1.543009e+06,1.543009e+06,1.543009e+06,1.543009e+06,1.543009e+06,1.543009e+06
mean,2.019738e+03,1.882856e+01,2.698468e+00,5.362849e+03,6.039168e-01,3.396295e+01,2.479460e+05,1.206990e+00
std,1.302020e+00,7.084583e+00,1.103642e+00,5.154174e+03,4.890823e-01,9.633748e+00,4.960089e+04,4.051482e-01
min,2.018000e+03,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.400000e+01,2.122050e+05,1.000000e+00
25%,2.018000e+03,1.400000e+01,3.000000e+00,2.010510e+03,0.000000e+00,2.700000e+01,2.124050e+05,1.000000e+00
50%,2.020000e+03,2.200000e+01,3.000000e+00,3.728800e+03,1.000000e+00,3.200000e+01,2.124150e+05,1.000000e+00
75%,2.021000e+03,2.500000e+01,3.000000e+00,7.105950e+03,1.000000e+00,3.900000e+01,3.171100e+05,1.000000e+00
max,2.021000e+03,2.600000e+01,4.000000e+00,1.614076e+05,1.000000e+00,9.200000e+01,3.172100e+05,2.000000e+00

# Dados por Estado, Sexo

In [6]:
# graf_sigla_uf = df[["sigla_uf"]].value_counts(ascending=True).plot(kind="barh", 
#                                                                    figsize=(15, 10), 
#                                                                    title="Quantidade de profissionais por UF")
# graf_sigla_uf.get_figure().savefig("./output/gold/graf_sigla_uf.png")

In [7]:
# graf_sexo = df[["sexo"]].value_counts(ascending=True).plot(kind="barh", 
#                                                                    figsize=(10, 8), 
#                                                                    title="Sexo")
# graf_sexo.get_figure().savefig("./output/gold/graf_sexo.png")

# Analisando

In [8]:
# show df grouping by ano, and from this, show the group by sexo
df.groupby(["ano", "sexo"]).size().reset_index(name="qnt")

    ano       sexo     qnt
0  2018   Feminino  101658
1  2018  Masculino  365194
2  2019   Feminino   25888
3  2019  Masculino  136185
4  2020   Feminino   44657
5  2020  Masculino  177445
6  2021   Feminino  147184
7  2021  Masculino  544798

### Salários

Por: ANO 2019, Sexo, Região

In [9]:
# df_ana = df_2019[["sigla_uf", "desligamento", "ocupacao", "sexo", "remuneracao_media"]]
# df_ana = df_2020[["sigla_uf", "desligamento", "ocupacao", "sexo", "regiao", "remuneracao_media"]]
df_ana = df[["sigla_uf", "ano", "desligamento", "ocupacao", "sexo", "regiao", "remuneracao_media"]]
df_ana

,sigla_uf,ano,desligamento,ocupacao,sexo,regiao,remuneracao_media
0,MS,2019,0,Tecnico de Apoio ao Usuario de Informatica (Helpdesk),Masculino,Centro-Oeste,997.99
1,MS,2019,0,Analista de Suporte Computacional,Masculino,Centro-Oeste,0.00
2,MS,2019,0,Programador de Sistemas de Informacao,Masculino,Centro-Oeste,1547.16
3,MS,2019,0,Operador de Computador (Inclusive Microcomputador),Masculino,Centro-Oeste,1456.14
4,MS,2019,0,Operador de Computador (Inclusive Microcomputador),Masculino,Centro-Oeste,1314.90
...,...,...,...,...,...,...,...
1543004,RS,2021,1,Analista de Desenvolvimento de Sistemas,Feminino,Sul,10415.10
1543005,RS,2021,1,Analista de Desenvolvimento de Sistemas,Feminino,Sul,9932.69
1543006,RS,2021,1,Tecnico de Apoio ao Usuario de Informatica (Helpdesk),Feminino,Sul,777.17
1543007,RS,2021,1,Programador de Sistemas de Informacao,Feminino,Sul,6421.08
1543008,RS,2021,1,Programador de Sistemas de Informacao,Feminino,Sul,8302.60

In [10]:
df_ana["ano"].value_counts()

ano
2021    691982
2018    466852
2020    222102
2019    162073
Name: count, dtype: int64

# Remun. Média

In [11]:
# group df_ana_r by sigla_uf and add a column with mean, max, min, std
df_ana_rm = df_ana.groupby(["regiao", "sexo"]).agg(
    {"remuneracao_media": ["mean", "min", "max", "std"]}).copy()

# round values to 2 decimal places
df_ana_rm = df_ana_rm.round(2)

df_ana_rm

                       remuneracao_media
                                    mean  min        max      std
regiao       sexo
Centro-Oeste Feminino            6294.95  0.0   73685.48  7010.88
             Masculino           7000.67  0.0   85750.97  6987.98
Nordeste     Feminino            3818.56  0.0   44387.25  3955.11
             Masculino           3806.96  0.0   98543.80  3698.92
Norte        Feminino            3026.47  0.0  110716.20  2905.86
             Masculino           3999.10  0.0  105844.80  4050.13
Sudeste      Feminino            5163.40  0.0  146400.00  4777.00
             Masculino           5945.63  0.0  161407.65  5476.87
Sul          Feminino            4021.82  0.0   88432.50  3682.77
             Masculino           4646.48  0.0   84126.00  3875.90

In [12]:
# add a col with difference in percentual between rows of col mean
df_ana_rm["diff"] = df_ana_rm["remuneracao_media"]["mean"].diff() / df_ana_rm["remuneracao_media"]["mean"] * 100

df_ana_rm["diff"] = df_ana_rm["diff"].round(2)

# new col with diff as percentage
# df_ana_rm["diff"] = df_ana_rm["diff"].astype(str) + "%"

pd.set_option('mode.chained_assignment', None) # remove warning
df_ana_rm["diff"][::2] = 0 

df_ana_rm

                       remuneracao_media                            diff
                                    mean  min        max      std
regiao       sexo
Centro-Oeste Feminino            6294.95  0.0   73685.48  7010.88    NaN
             Masculino           7000.67  0.0   85750.97  6987.98  10.08
Nordeste     Feminino            3818.56  0.0   44387.25  3955.11 -83.33
             Masculino           3806.96  0.0   98543.80  3698.92  -0.30
Norte        Feminino            3026.47  0.0  110716.20  2905.86 -25.79
             Masculino           3999.10  0.0  105844.80  4050.13  24.32
Sudeste      Feminino            5163.40  0.0  146400.00  4777.00  22.55
             Masculino           5945.63  0.0  161407.65  5476.87  13.16
Sul          Feminino            4021.82  0.0   88432.50  3682.77 -47.83
             Masculino           4646.48  0.0   84126.00  3875.90  13.44

In [13]:
# export to table in latex to 2 decimal places
df_ana_rm.reset_index().to_latex("./output/silver/df_ana_rm.tex", index=False)

# Demissões

In [14]:
# group df_ana_r by sigla_uf and add a column with mean, max, min, std
df_ana_dm = df_ana.groupby(["ano", "regiao", "sexo"]).agg(
    {"desligamento": ["count"]}).copy()

# round values to 2 decimal places
df_ana_dm = df_ana_dm.round(2)

df_ana_dm

                            desligamento
                                   count
ano  regiao       sexo
2018 Centro-Oeste Feminino          7691
                  Masculino        27957
     Nordeste     Feminino          7960
                  Masculino        35725
     Norte        Feminino         27609
                  Masculino        31485
     Sudeste      Feminino         45889
                  Masculino       210075
     Sul          Feminino         12509
                  Masculino        59952
2019 Centro-Oeste Feminino          3319
                  Masculino        17361
     Nordeste     Feminino          1931
                  Masculino        10631
     Norte        Feminino           832
                  Masculino         1800
     Sudeste      Feminino         15945
                  Masculino        78191
     Sul          Feminino          3861
                  Masculino        28202
2020 Centro-Oeste Feminino          3162
                  Masculino        16457
     Nordeste     Feminino          4079
                  Masculino        18136
     Norte        Feminino          4109
                  Masculino         4252
     Sudeste      Feminino         25288
                  Masculino       107055
     Sul          Feminino          8019
                  Masculino        31545
2021 Centro-Oeste Feminino          8479
                  Masculino        40152
     Nordeste     Feminino         11871
                  Masculino        46354
     Norte        Feminino          2284
                  Masculino        12591
     Sudeste      Feminino         98951
                  Masculino       348584
     Sul          Feminino         25599
                  Masculino        97117

In [15]:
# group df_ana_r by sigla_uf and add a column with mean, max, min, std
df_ana_dm = df_ana.groupby(["regiao", "sexo"]).agg(
    {"desligamento": ["count"]}).copy()

# round values to 2 decimal places
df_ana_dm = df_ana_dm.round(2)

df_ana_dm

                       desligamento
                              count
regiao       sexo
Centro-Oeste Feminino         22651
             Masculino       101927
Nordeste     Feminino         25841
             Masculino       110846
Norte        Feminino         34834
             Masculino        50128
Sudeste      Feminino        186073
             Masculino       743905
Sul          Feminino         49988
             Masculino       216816

In [16]:
# add a col with difference in percentual between rows of col mean
df_ana_dm["diff"] = df_ana_dm["desligamento"]["count"].diff(
) / df_ana_dm["desligamento"]["count"] * 100

df_ana_dm["diff"] = df_ana_dm["diff"].round(2)

pd.set_option('mode.chained_assignment', None)  # remove warning
df_ana_dm["diff"][::2] = 0

df_ana_dm

                       desligamento     diff
                              count
regiao       sexo
Centro-Oeste Feminino         22651      NaN
             Masculino       101927    77.78
Nordeste     Feminino         25841  -294.44
             Masculino       110846    76.69
Norte        Feminino         34834  -218.21
             Masculino        50128    30.51
Sudeste      Feminino        186073    73.06
             Masculino       743905    74.99
Sul          Feminino         49988 -1388.17
             Masculino       216816    76.94

In [38]:
# group df_ana_r by sigla_uf and add a column with mean, max, min, std
df_ana_dm = df_ana.groupby(["ano", "sexo"]).agg(
    {"desligamento": ["count"]}).copy()

# round values to 2 decimal places
df_ana_dm = df_ana_dm.round(2)

# Add column with cumulative from count by ano and zero each even row
df_ana_dm["cumsum"] = df_ana_dm["desligamento"]["count"].cumsum()

df_ana_dm
# df_ana_dm[df_ana_dm["ano"] == "2018"]

               desligamento   cumsum
                      count
ano  sexo
2018 Feminino        101658   101658
     Masculino       365194   466852
2019 Feminino         25888   492740
     Masculino       136185   628925
2020 Feminino         44657   673582
     Masculino       177445   851027
2021 Feminino        147184   998211
     Masculino       544798  1543009

In [17]:
# export to table in latex to 2 decimal places
df_ana_dm.reset_index().to_latex("./output/silver/df_ana_dm.tex", index=False)

# Cargos

In [18]:
# from df_ana, count the number of ocupacao by sexo
df_ana.groupby(["ocupacao", "sexo"]).size().reset_index()

,ocupacao,sexo,0
0,Administrador de Banco de Dados,Feminino,3058
1,Administrador de Banco de Dados,Masculino,12033
2,Administrador de Redes,Feminino,1985
3,Administrador de Redes,Masculino,16767
4,Administrador de Sistemas Operacionais,Feminino,5190
5,Administrador de Sistemas Operacionais,Masculino,18905
6,Administrador em Segurança da Informação,Feminino,2929
7,Administrador em Segurança da Informação,Masculino,11750
8,Analista de Desenvolvimento de Sistemas,Feminino,108088
9,Analista de Desenvolvimento de Sistemas,Masculino,445439
10,Analista de Redes e de Comunicacao de Dados,Feminino,25878
11,Analista de Redes e de Comunicacao de Dados,Masculino,74867
12,Analista de Sistemas de Automacao,Feminino,4290
13,Analista de Sistemas de Automacao,Masculino,19202
14,Analista de Suporte Computacional,Feminino,48269
15,Analista de Suporte Computacional,Masculino,191574
16,Engenheiro de Aplicativos em Computacao,Feminino,2072
17,Engenheiro de Aplicativos em Computacao,Masculino,13235
18,Engenheiro de Equipamentos em Computacao,Feminino,333
19,Engenheiro de Equipamentos em Computacao,Masculino,2441
20,Engenheiros de Sistemas Operacionais em Computacao,Feminino,1340
21,Engenheiros de Sistemas Operacionais em Computacao,Masculino,9745
22,Operador de Computador (Inclusive Microcomputador),Feminino,23776
23,Operador de Computador (Inclusive Microcomputador),Masculino,59491
24,Programador de Internet,Feminino,2078
25,Programador de Internet,Masculino,11634
26,Programador de Maquinas - Ferramenta com Comando Numerico,Feminino,539
27,Programador de Maquinas - Ferramenta com Comando Numerico,Masculino,8755
28,Programador de Multimidia,Feminino,1025
29,Programador de Multimidia,Masculino,4592
30,Programador de Sistemas de Informacao,Feminino,56487
31,Programador de Sistemas de Informacao,Masculino,208124
32,Tecnico de Apoio ao Usuario de Informatica (Helpdesk),Feminino,32050
33,Tecnico de Apoio ao Usuario de Informatica (Helpdesk),Masculino,115068

In [26]:
# df_ana["diff"] = df_ana["remuneracao_media"].diff()
df_temp = df_ana.groupby(["ocupacao", "sexo"]).size().reset_index()
# create a new column with the difference between the current row and the previous row
df_temp["diff"] = df_temp[0].diff()

df_temp

,ocupacao,sexo,0,diff
0,Administrador de Banco de Dados,Feminino,3058,NaN
1,Administrador de Banco de Dados,Masculino,12033,8975.0
2,Administrador de Redes,Feminino,1985,-10048.0
3,Administrador de Redes,Masculino,16767,14782.0
4,Administrador de Sistemas Operacionais,Feminino,5190,-11577.0
5,Administrador de Sistemas Operacionais,Masculino,18905,13715.0
6,Administrador em Segurança da Informação,Feminino,2929,-15976.0
7,Administrador em Segurança da Informação,Masculino,11750,8821.0
8,Analista de Desenvolvimento de Sistemas,Feminino,108088,96338.0
9,Analista de Desenvolvimento de Sistemas,Masculino,445439,337351.0
10,Analista de Redes e de Comunicacao de Dados,Feminino,25878,-419561.0
11,Analista de Redes e de Comunicacao de Dados,Masculino,74867,48989.0
12,Analista de Sistemas de Automacao,Feminino,4290,-70577.0
13,Analista de Sistemas de Automacao,Masculino,19202,14912.0
14,Analista de Suporte Computacional,Feminino,48269,29067.0
15,Analista de Suporte Computacional,Masculino,191574,143305.0
16,Engenheiro de Aplicativos em Computacao,Feminino,2072,-189502.0
17,Engenheiro de Aplicativos em Computacao,Masculino,13235,11163.0
18,Engenheiro de Equipamentos em Computacao,Feminino,333,-12902.0
19,Engenheiro de Equipamentos em Computacao,Masculino,2441,2108.0
20,Engenheiros de Sistemas Operacionais em Computacao,Feminino,1340,-1101.0
21,Engenheiros de Sistemas Operacionais em Computacao,Masculino,9745,8405.0
22,Operador de Computador (Inclusive Microcomputador),Feminino,23776,14031.0
23,Operador de Computador (Inclusive Microcomputador),Masculino,59491,35715.0
24,Programador de Internet,Feminino,2078,-57413.0
25,Programador de Internet,Masculino,11634,9556.0
26,Programador de Maquinas - Ferramenta com Comando Numerico,Feminino,539,-11095.0
27,Programador de Maquinas - Ferramenta com Comando Numerico,Masculino,8755,8216.0
28,Programador de Multimidia,Feminino,1025,-7730.0
29,Programador de Multimidia,Masculino,4592,3567.0
30,Programador de Sistemas de Informacao,Feminino,56487,51895.0
31,Programador de Sistemas de Informacao,Masculino,208124,151637.0
32,Tecnico de Apoio ao Usuario de Informatica (Helpdesk),Feminino,32050,-176074.0
33,Tecnico de Apoio ao Usuario de Informatica (Helpdesk),Masculino,115068,83018.0

In [27]:

df_temp.sort_values(by=["diff"], ascending=False)

,ocupacao,sexo,0,diff
9,Analista de Desenvolvimento de Sistemas,Masculino,445439,337351.0
31,Programador de Sistemas de Informacao,Masculino,208124,151637.0
15,Analista de Suporte Computacional,Masculino,191574,143305.0
8,Analista de Desenvolvimento de Sistemas,Feminino,108088,96338.0
33,Tecnico de Apoio ao Usuario de Informatica (Helpdesk),Masculino,115068,83018.0
30,Programador de Sistemas de Informacao,Feminino,56487,51895.0
11,Analista de Redes e de Comunicacao de Dados,Masculino,74867,48989.0
23,Operador de Computador (Inclusive Microcomputador),Masculino,59491,35715.0
14,Analista de Suporte Computacional,Feminino,48269,29067.0
13,Analista de Sistemas de Automacao,Masculino,19202,14912.0
3,Administrador de Redes,Masculino,16767,14782.0
22,Operador de Computador (Inclusive Microcomputador),Feminino,23776,14031.0
5,Administrador de Sistemas Operacionais,Masculino,18905,13715.0
17,Engenheiro de Aplicativos em Computacao,Masculino,13235,11163.0
25,Programador de Internet,Masculino,11634,9556.0
1,Administrador de Banco de Dados,Masculino,12033,8975.0
7,Administrador em Segurança da Informação,Masculino,11750,8821.0
21,Engenheiros de Sistemas Operacionais em Computacao,Masculino,9745,8405.0
27,Programador de Maquinas - Ferramenta com Comando Numerico,Masculino,8755,8216.0
29,Programador de Multimidia,Masculino,4592,3567.0
19,Engenheiro de Equipamentos em Computacao,Masculino,2441,2108.0
20,Engenheiros de Sistemas Operacionais em Computacao,Feminino,1340,-1101.0
28,Programador de Multimidia,Feminino,1025,-7730.0
2,Administrador de Redes,Feminino,1985,-10048.0
26,Programador de Maquinas - Ferramenta com Comando Numerico,Feminino,539,-11095.0
4,Administrador de Sistemas Operacionais,Feminino,5190,-11577.0
18,Engenheiro de Equipamentos em Computacao,Feminino,333,-12902.0
6,Administrador em Segurança da Informação,Feminino,2929,-15976.0
24,Programador de Internet,Feminino,2078,-57413.0
12,Analista de Sistemas de Automacao,Feminino,4290,-70577.0
32,Tecnico de Apoio ao Usuario de Informatica (Helpdesk),Feminino,32050,-176074.0
16,Engenheiro de Aplicativos em Computacao,Feminino,2072,-189502.0
10,Analista de Redes e de Comunicacao de Dados,Feminino,25878,-419561.0
0,Administrador de Banco de Dados,Feminino,3058,NaN

# Outros

In [23]:
# df_ana[df_ana["sigla_uf"].isin(REGIOES["Norte"])].describe()

In [24]:
# group df_ana by sigla_uf and show mean of valor_remuneracao_media

# df_ana.groupby(["sigla_uf", "sexo"]).mean().reset_index()

# Correlação entre colunas

- Correlação entre Ano, Estado, Idade, Ocupação, Sexo, Cor

In [25]:
# # https://stackoverflow.com/questions/48035381/correlation-among-multiple-categorical-variables-pandas

# df_apenas_ids = df[[
#     "ano", "sigla_uf_id", "idade", "ocupacao_id", "sexo_id", "raca_cor_id"]]

# corr_an = df_apenas_ids.apply(lambda x : pd.factorize(x)[0]).corr(method='pearson', min_periods=1)
# # corr_an = df_apenas_ids.corr()
# corr_an

Matriz de correlação: The correlation coefficient ranges from –1 to 1. When it is close to 1, it means that there is a strong positive correlation; for example, the median house value tends to go up when the median income goes up. When the coefficient is close to –1, it means that there is a strong negative correlation; you can see a small negative correlation between

In [26]:
# import seaborn as sns
# import matplotlib.pyplot as plt

# plt.figure(figsize=(13, 6))
# sns.heatmap(corr_an, vmax=1, annot=True, linewidths=.5)
# plt.xticks(rotation=30, horizontalalignment="right")
# plt.show()

In [27]:
# from pandas.plotting import scatter_matrix

# scatter_matrix(df_apenas_ids, figsize=(12, 8))